/* Add your styles here */

html {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

footer {
  background-color: black;
  color:white;
  font-size: 48px;
}

header {
  background-image: linear-gradient(lightgray,white,white);
  font-family: monospace;
  color: grey;
  opacity: 0.6;
  margin: 0px;
  text-align: center;
}

main ul li a{
  text-decoration: underline dotted olive;
  background-color: palegoldenrod;
  color:darkred;
  transition: all 0.5s linear;
  font-size: 36px
}

main ul li a:hover{
  background-color: lightsalmon;
  transition: all 0.5s linear;
}

h2 {
  font-size: 48px;
}
